services:
  voice_trainer_fe:
    build:
      context: .
      dockerfile: Dockerfile
    # volumes:
    #   - /backend:/app
    #   - uv-cache:/root/.cache/uv
    # environment:
    #   UVICORN_RELOAD: "true"
    ports:
      - "8501:8501"
    # env_file:
      # made in dev, in prod/staging use only env vars from coolify
      # - .env
    labels:
      - traefik.enable=true
      - traefik.docker.network=coolify

      # -------------------
      # HTTPS apex (final router)
      # -------------------
      - traefik.http.routers.voice_trainer.rule=Host(`cantami.net`)
      - traefik.http.routers.voice_trainer.entrypoints=https
      - traefik.http.routers.voice_trainer.tls=true
      - traefik.http.routers.voice_trainer.service=voice_trainer_fe
      - traefik.http.routers.voice_trainer.priority=100

      # -------------------
      # HTTP apex → HTTPS redirect
      # -------------------
      - traefik.http.routers.voice_trainer-http.rule=Host(`cantami.net`)
      - traefik.http.routers.voice_trainer-http.entrypoints=http
      - traefik.http.routers.voice_trainer-http.middlewares=redirect-to-https
      - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https

      # -------------------
      # WWW → apex redirect
      # -------------------
      - traefik.http.routers.voice_trainer-www.rule=Host(`www.cantami.net`)
      - traefik.http.routers.voice_trainer-www.entrypoints=http,https
      - traefik.http.routers.voice_trainer-www.middlewares=www-to-apex
      - traefik.http.middlewares.www-to-apex.redirectregex.regex=^https?://www\.cantami\.net(.*)
      - traefik.http.middlewares.www-to-apex.redirectregex.replacement=https://cantami.net$1
      - traefik.http.middlewares.www-to-apex.redirectregex.permanent=true

volumes:
  uv-cache:
  npm-cache:
  frontend-node-modules:
